@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    padding-bottom: 20px;
    background-color: #1f1f1f;
    font-family: Outfit;
    text-align: center;
    color: white;
}

.ooo {
    color: rgb(164, 164, 164);
    font-size: 20px;
}



li {
    font-size: 25px;
}

a {
    text-decoration: none;
    color: #94c2e6;
}

a:hover {
    color: #fff
}

.navbar {
    margin-bottom: 20px;
}

img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
}

.btn-outline-success {
    --bs-btn-active-bg: rgb(60, 60, 141);
    --bs-btn-border-color: #0091ff;
    --bs-btn-hover-color: #dedede;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-color: #94c2e6;
    --bs-btn-hover-bg: #0091ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: opacity(0.3); /* Will this CSS rule this work? Probably not. I don't give a single fuck tho */
    --bs-btn-disabled-bg: transparent;
}